<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zs.create.modules.process.mapper.ZsBackGuochengMapper">

    <select id="formShow" parameterType="string" resultType="com.zs.create.modules.process.entity.ZsBackGuocheng">
        select * from zs_back_guocheng where back_id = #{backId} ORDER BY create_time
    </select>


</mapper>